@import "../../../../styles/colors.scss";
@import "../../../../styles/constants.scss";

.delegation-element {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-2;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 500px;
  box-sizing: border-box;
  background-color: $gray-4;
  cursor: pointer;
}

@media only screen and (max-width: $mobile-limit) {
  .delegation-element {
    width: 100%;
  }
}
