@import "../../styles/colors.scss";
@import "../../styles/constants.scss";

.header {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  background-color: $gray-1;
  height: $header-height;
  padding: 0 0.5rem;
}
