@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";

.proposal {
  display: flex;
  @include content;
  &__content {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-2;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  &__stage {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-2;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: $mobile-limit) {
  .proposal {
    display: flex;
    flex-direction: column-reverse;
  }
}
