@import "../../../../styles/global.scss";

.space {
  @include content;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__proposals-container {
    display: flex;
    flex-direction: column;
  }
}
