@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";

.space {
  display: flex;
  @include content;
  &__nav {
    display: flex;
    flex-direction: column;
    background-color: $gray-3;
    @include element-padding;
    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  &__outlet {
    @include element-padding;
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-limit) {
  .space {
    flex-direction: column;
  }
}
