@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";

.role {
  @include content;
  @include element-padding;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  &__top {

  }
  &__content {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-2;
    padding: 1rem;
    margin: 0.5rem;
    &__eligibility {
      display: flex;
    }
  }
}
