@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";

.create-proposal {
  @include content;
  &__form {
    @include form;
    max-width: 500px;
    margin: auto;
  }
}

@media only screen and (max-width: $mobile-limit) {
  .create-proposal {
    &__form {
      margin: 0 1rem;
    }
  }
}
