$modal-overlay-z-index: 8;
$modal-z-index: 9;
$loading-z-index: 10;
$toasts-container-z-index: 11;

$laptop-limit: 1366px;
$mobile-limit: 768px;
$max-content-width: 1366px;

$header-height: 3.75rem;

// font sizes
$small: 0.875rem
