@import "./constants.scss";
@import "./colors.scss";

@mixin content {
  margin: auto;

  // mobile
  @media only screen and (max-width: $mobile-limit) {
    width: 100%;
  }

  // laptop
  @media only screen and (min-width: $mobile-limit) and (max-width: $laptop-limit) {
    max-width: $max-content-width;
  }

  // high-res
  @media only screen and (min-width: $laptop-limit) {
    max-width: $max-content-width;
  }
}

@mixin element-padding {
  box-sizing: border-box;

  @media only screen and (max-width: $mobile-limit) {
    padding: 0.5rem;
  }

  @media only screen and (min-width: $mobile-limit) {
    padding: 1rem;
  }
}

@mixin modal {
  @media only screen and (max-width: $mobile-limit) {
    height: 100%;
    max-width: unset;
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
  input,
  textarea,
  select {
    margin: 0.3rem 0;
    border: 1px solid $gray-2;
  }
  textarea {
    resize:  none;
  }
}
