@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";

.proposal {
  display: flex;
  flex-direction: column;
  @include content;
  &__top {
    padding: 0.5rem;
    box-sizing: border-box;
  }
  &__content {
    display: flex;
    &__data {
      display: flex;
      flex-direction: column;
      border: 1px solid $gray-2;
      padding: 0.5rem;
      margin: 0.5rem;
    }
    &__stage-container {
      display: flex;
      flex-direction: column;
      border: 1px solid $gray-2;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
}

@media only screen and (max-width: $mobile-limit) {
  .proposal {
    &__content {
      flex-direction: column-reverse;
    }
  }
}
