@import "../../styles/constants.scss";
@import "../../styles/colors.scss";

.menu {
  margin-left: auto;
  &__hamburger-menu-icon {
    height: 2rem;
    width: 2rem;
  }
  &__content {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: $header-height;
    background-color: $gray-3;
  }
}
